.grid {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cg%3E%3Ctitle%3ELayer%201%3C/title%3E%3Cline%20fill%3D%22none%22%20stroke%3D%22%23464C4C%22%20opacity%3D%22undefined%22%20x1%3D%220%22%20y1%3D%228%22%20x2%3D%2216%22%20y2%3D%228%22%20id%3D%22svg_2%22%20stroke-linejoin%3D%22undefined%22%20stroke-linecap%3D%22undefined%22/%3E%3Cline%20fill%3D%22none%22%20stroke%3D%22%23464C4C%22%20opacity%3D%22undefined%22%20x1%3D%228%22%20y1%3D%220%22%20x2%3D%228%22%20y2%3D%2216%22%20id%3D%22svg_3%22%20stroke-linejoin%3D%22undefined%22%20stroke-linecap%3D%22undefined%22/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-color: grey;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
}